mixin map
	.map
		script(
			async
			src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aeaa4f8ea271047059096c4086c4aa96ac19c445d06148769c146500a3c524b3a&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp"
		)