$name: list;

.#{$name} {
	display: flex;

	&__icon-wrap {
		width: 7rem;
		flex: none;
	}

	&__icon {
		width: 100%;
		padding-bottom: 100%;
		background: no-repeat center / contain;
	}

	&__wrap {
		padding-left: 15px;
	}

	&__title {
		font-weight: bold;
		margin-bottom: 5px;
	}

	&__desc {}
}