$name: title;

.#{$name} {
	font-size: 2.4rem;
	font-weight: bold;

	&_size_sm {
		font-size: 2rem;
	}

	&_upper {
		text-transform: uppercase;
	}

	&_color_white {
		color: white;
	}

	&_weight_normal {
		font-weight: normal;
	}
}