include ../mixins/num
include ../mixins/list
include ../mixins/partner
include ../mixins/slider
include ../mixins/resource
include ../mixins/project

.mb-30

.container
	.row
		.col-sm-4.mb-30
			.title .title

		.col-sm-4.mb-30
			.title.title_upper .title.title_upper

		.col-sm-4.mb-30.main__black
			.title.title_color_white .title.title_color_white

.mb-30
	.banner(style='background-image: url(img/content/banner.jpg)')

.container
	.row
		.col-sm-4.mb-30
			+num(num[0])

	.row
		.col-sm-6.mb-30
			+list(list[0])

		.col-sm-6.mb-30
			+list(list_2[0])

	.row
		.col-sm-4.mb-30
			+partner(partner[0])

	.row
		.col-sm-4.mb-30
			+project(project[5])

	.mb-30
		+slider(dataCols='variable')

			each val in partner
				.slider__item
					+partner(val)

	.mb-30
		+slider(dataMdCols=2 dataXlCols=3)

			each val in project
				.slider__item
					+project(val)

	.row
		.col-sm-6.mb-30
			+resource(resource[0])