include ../mixins/num
include ../mixins/list
include ../mixins/slider-partners
include ../mixins/resource

.mb-30

.container
	.row
		.col-sm-4.mb-30
			.title .title

		.col-sm-4.mb-30
			.title.title_upper .title.title_upper

		.col-sm-4.mb-30.main__black
			.title.title_color_white .title.title_color_white

.mb-30
	.banner(style='background-image: url(img/content/banner.jpg)')

.container
	.row
		.col-sm-4.mb-30
			+num(num[0])

	.row
		.col-sm-6.mb-30
			+list(list[0])

		.col-sm-6.mb-30
			+list(list_2[0])

	.mb-30
		+slider-partners(slider_partners)

	.row
		.col-sm-6.mb-30
			+resource(resource[0])