include ../mixins/num

.mb-30

.container
	.row
		.col-sm-4.mb-30
			.title .title
		.col-sm-4.mb-30
			.title.title_upper .title.title_upper

.mb-30
	.banner(style='background-image: url(img/content/banner.jpg)')

.container
	.row
		.col-sm-4.mb-30
			+num(num[0])