include ../components/logo
include ../mixins/num
include ../mixins/list
include ../mixins/partner
include ../mixins/slider
include ../mixins/resource
include ../mixins/project
include ../mixins/banner

.mb-4rem
	+banner(banner)

.container
	.row
		.col-sm-3.mb-4rem
			a.link(href='#') .link

		.col-sm-3.mb-4rem.main__black
			a.link.link_color_white(href='#') .link.link_color_white

		.col-sm-3.mb-4rem
			a.link.link_color_text(href='#') .link.link_color_text

		.col-sm-3.mb-4rem
			a.link.link_line_none(href='#') .link.link_line_none

		.col-sm-3.mb-4rem
			a.link.link_nowrap(href='#') .link.link_nowrap

	.row
		.col-sm-4.mb-4rem
			.title .title

		.col-sm-4.mb-4rem
			.title.title_upper .title.title_upper

		.col-sm-4.mb-4rem.main__black
			.title.title_color_white .title.title_color_white

		.col-sm-4.mb-4rem.main__black
			.title.title_weight_normal .title.title_weight_normal

		.col-sm-4.mb-4rem.main__black
			.title.title_size_sm .title.title_size_sm

	.row
		.col-sm-4.mb-4rem
			.btn .btn

		.col-sm-4.mb-4rem
			a.btn(href='#') a.btn

		.col-sm-4.mb-4rem
			input.btn(type='button' value='input.btn')

		.col-sm-4.mb-4rem
			button.btn button.btn

		.col-sm-4.mb-4rem
			.btn.btn_wide .btn.btn_wide

		.col-sm-4.mb-4rem
			.btn.btn_size_lg .btn.btn_size_lg

		.col-sm-4.mb-4rem
			.btn
				span .btn (with icon)
				img(src='img/icons/envelope.jpg')

		.col-sm-6.mb-4rem
			.btn.btn_size_lg
				span .btn.btn_size_lg (with icon)
				img(src='img/icons/envelope.jpg')

	.row
		.col-sm-4.mb-4rem
			+logo

.container
	.row
		.col-sm-4.mb-4rem
			+num(num[0])

	.row
		.col-sm-6.mb-4rem
			+list(list[0])

		.col-sm-6.mb-4rem
			+list(list_2[0])

	.row
		.col-sm-4.mb-4rem
			+partner(partner[0])

	.row
		.col-sm-4.mb-4rem
			+project(project[5])

	.mb-4rem
		+slider(dataCols='variable')

			each val in partner
				.slider__item
					+partner(val)

	.mb-4rem
		+slider(dataMdCols=2 dataXlCols=3)

			each val in project
				.slider__item
					+project(val)

	.row
		.col-sm-6.mb-4rem
			+resource(resource[0])