include ../components/logo
include ../components/menu

// HEADER
header.header
	.container
		.row.header__row
			.col.header__col.header__col_left
				+logo

			.col.header__col.header__col_center
				+menu

			.col.header__col.header__col_right
				.header__contacts
					.header__link-wrap.mb-10
						a.title.title_weight_normal.link.link_color_text.link_nowrap.link_line_none(href=`tel:${global.tel_1.link}`)= global.tel_1.text
						.header__link-desc Бесплатно по России

					.mb-10
						a.title.title_weight_normal.link.link_color_text.link_nowrap.link_line_none(href=`tel:${global.tel_2.link}`)= global.tel_2.text

					button.btn.btn_wide(data-modal='modalCallback') Заказать звонок